{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Luckiest+Guy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="{% static '/polls/style.css' %}">
	<script src="https://kit.fontawesome.com/b6ca047dfe.js"></script>
</head>
<body>

<div class="page-header">
	<h1><a href="{% url 'polls:index' %}">Polls App</a></h1>
</div>

<div class="content container-fluid">
	<div class="row">
		<div class="col">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

</body>
</html>
