{% extends "polls/base.html" %}

{% block title %} {{ question.question_text }}{% endblock %}

{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}

  {% if question.question_image %}
    <div>
      <p>{{ question.question_image }}</p>
      <img class="img-fluid" src="../../media/{{ question.question_image }}" alt="description" height="400" width="600">
    </div>
  {% endif %}
  <br>
  {% for choice in question.choice_set.all %}
  <div class="input-group col-md-5">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      </div>
    </div>
    <label class="form-control" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
  </div>
  {% endfor %}
  <br>
  <input type="submit" class="btn btn-primary" value="Vote">
  <a class="btn btn-primary" href="{% url 'polls:index' %}">Return</a>
</form>
{% endblock %}
